[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
graphene = "==2.1.8"
responder = "==1.3.2"
chainer = "==6.4.0"
numpy = "==1.17.2"
Pillow = "==8.1.1"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
dev = "uvicorn --host=0.0.0.0 --port=8080 --debug --log-level=debug api:api"
prod = "uvicorn --host=0.0.0.0 --port=8080 api:api"
